@import "bootstrap/dist/css/bootstrap";

.search-area {
  padding-top: 30px;
}

.display-result {
  display: inline-block;
  margin-bottom: 1rem;
}

#result {
  margin-top: 10px;
}

.user-name {
  margin-top: 3.5%;
  margin-right: 5px;
  font-size: 1rem;
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans",
    "Liberation Sans", "Arial", "sans"-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
